<h1 class="mat-h1">Pets</h1>

<div>
    <button (click)="toggleFilterPanel()">Toggle Filter Panel</button>
    <button (click)="toggleDisabled()">Toggle Disabled</button>
    <button (click)="clearFilters()">Clear Filters</button>
    <button (click)="mutateModel()">Mutate Model</button>
</div>
<div>
    Service hasFilter = {{filterService.hasFilter}}
</div>
<div>
    Context hasFilter = {{query.filterContext?.hasFilter}}
</div>