<div class="sidenav" [ngClass]="{ 'is-open': isExpanded, 'is-flat': flat }">

  <mat-nav-list id="app_sidenav_list">

    <a mat-list-item id="sidenav_link_close_toggle" fxLayout="row" fxLayoutAlign="end center" class="sidenav__toggle"
      [ngClass]="{ 'is-open': isExpanded }" (click)="onToggleExpand()">
      <span mat-line *ngIf="isExpanded"><b>Menu</b></span>
      <mat-icon mat-list-icon>close</mat-icon>
    </a>

    <!-- Normal, overlapping menu structure  -->
    <!-- First Level  -->
    <ng-container *ngIf="!flat; else flatNav">
      <ng-container *ngFor="let link of links; last as last">
        <ng-container *ngIf="!link.children">
          <a mat-list-item [id]="link.id" routerLinkActive="active" [routerLink]="link.path ? [link.path] : null"
            [matTooltip]="!isExpanded ? link.label : null" matTooltipPosition="right">
            <mat-icon mat-list-icon>{{link.ligature || 'folder'}}</mat-icon>
            <span mat-line *ngIf="isExpanded">{{ link.label }}</span>
          </a>
        </ng-container>

        <ng-container *ngIf="link.children">
          <a mat-list-item [id]="link.id" routerLinkActive="active" [matMenuTriggerFor]="linkDropdownMenu" [matTooltip]="!isExpanded ? link.label : null"
            matTooltipPosition="right">
            <mat-icon mat-list-icon>{{link.ligature || 'folder'}}</mat-icon>
            <span mat-line *ngIf="isExpanded">{{ link.label }}</span>
            <mat-icon class="sidenav__toggle-icon" *ngIf="link.children">keyboard_arrow_down</mat-icon>
          </a>
          <mat-menu #linkDropdownMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
            <ng-template matMenuContent>
              <!-- Second Level  -->
              <ng-container *ngFor="let innerLink of link.children; last as last">

                <ng-container *ngIf="!innerLink.children">                      
                  <a mat-menu-item [id]="innerLink.id" routerLinkActive="active" [routerLink]="innerLink.path ? [innerLink.path] : null"
                    [matTooltip]="!isExpanded ? innerLink.label : null" matTooltipPosition="right">
                    <mat-icon mat-list-icon>{{innerLink.ligature || 'folder'}}</mat-icon>
                    <span mat-line >{{ innerLink.label }}</span>
                  </a>
                </ng-container>

                <ng-container *ngIf="innerLink.children">
                    <a mat-menu-item [id]="innerLink.id" routerLinkActive="active" [matMenuTriggerFor]="linkDropdownMenuInner" [matTooltip]="!isExpanded ? innerLink.label : null"
                      matTooltipPosition="right">
                      <mat-icon mat-list-icon>{{innerLink.ligature || 'folder'}}</mat-icon>
                      <span mat-line *ngIf="isExpanded">{{ innerLink.label }}</span>
                      <!-- <mat-icon class="sidenav__toggle-icon" *ngIf="innerLink.children">keyboard_arrow_down</mat-icon> -->
                    </a>
                    <mat-menu #linkDropdownMenuInner="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
                      <ng-template matMenuContent>
                          <!-- Third Level  -->
                        <button mat-menu-item *ngFor="let item of innerLink.children" [routerLink]="[item.path]" [matTooltip]="!isExpanded ? item.label : null">
                          <mat-icon>{{ item.ligature }}</mat-icon>
                          <span mat-line *ngIf="isExpanded">{{ item.label }}</span>
                        </button>
                
                      </ng-template>
                    </mat-menu>
                </ng-container>

              </ng-container>
        
            </ng-template>
          </mat-menu>
        </ng-container >    

      </ng-container>
    </ng-container>

    <!-- Accordion-like menu structure -->
    <ng-template #flatNav>
      <mat-accordion displayMode="flat">
        <!-- First Level  -->
        <ng-container *ngFor="let link of links; last as last">
          <ng-container *ngIf="!link.children">
            <a mat-list-item [id]="link.id" routerLinkActive="active" (click)="onOpen(link.id, null)" [routerLink]="link.path ? [link.path] : null"
              [matTooltip]="!isExpanded ? link.label : null" matTooltipPosition="right">
              <mat-icon mat-list-icon>{{link.ligature || 'folder'}}</mat-icon>
              <span class="acc-line" mat-line *ngIf="isExpanded">{{ link.label }}</span>
            </a>
          </ng-container>

          <mat-expansion-panel *ngIf="link.children" [expanded]="expandedParent === link.id" (opened)="onOpen(link.id)">

            <mat-expansion-panel-header [id]="link.id" routerLinkActive="active" [matTooltip]="!isExpanded ? link.label : null"
            [routerLink]="expandedParent != link.id ? (link.path ? [link.path] : (link.children[0] && link.children[0].path ? [link.children[0].path] : null)) : null">
              <mat-panel-title>
                <mat-icon mat-list-icon>{{link.ligature || 'folder'}}</mat-icon>
                <span class="acc-line" mat-line *ngIf="isExpanded">{{ link.label }}</span>
              </mat-panel-title>            
            </mat-expansion-panel-header>

            <!-- Second Level  -->
            <mat-accordion>
                <ng-container *ngFor="let innerLink of link.children; last as last">

                    <ng-container *ngIf="!innerLink.children">                      
                      <a class="acc-alt" list-menu-item [id]="innerLink.id" routerLinkActive="active" [routerLink]="innerLink.path ? [innerLink.path] : null"
                        [matTooltip]="!isExpanded ? innerLink.label : null" matTooltipPosition="right" (click)="onOpen(link.id, innerLink.id)">
                        <mat-icon mat-list-icon>{{innerLink.ligature || 'folder'}}</mat-icon>
                        <span class="acc-line-alt" mat-line *ngIf="isExpanded">{{ innerLink.label }}</span>
                      </a>
                    </ng-container>
        
                    <mat-expansion-panel *ngIf="innerLink.children" [expanded]="expandedParent === link.id && expandedChild === innerLink.id" (opened)="onOpen(link.id, innerLink.id)">
                        <mat-expansion-panel-header [id]="innerLink.id" routerLinkActive="active" [matTooltip]="!isExpanded ? innerLink.label : null"
                        [routerLink]="expandedChild != innerLink.id ? (innerLink.path ? [innerLink.path] : (innerLink.children[0] && innerLink.children[0].path ? [innerLink.children[0].path] : null)) : null">
                            <mat-panel-title>
                              <mat-icon mat-list-icon>{{innerLink.ligature || 'folder'}}</mat-icon>
                              <span class="acc-line" mat-line *ngIf="isExpanded">{{ innerLink.label }}</span>
                            </mat-panel-title>                        
                          <!-- <mat-icon class="sidenav__toggle-icon" *ngIf="innerLink.children">keyboard_arrow_down</mat-icon> -->
                        </mat-expansion-panel-header>                      
                          <!-- Third Level  -->
                          <button mat-menu-item *ngFor="let item of innerLink.children" [routerLink]="[item.path]" [matTooltip]="!isExpanded ? item.label : null">
                            <mat-icon>{{ item.ligature }}</mat-icon>
                            <span mat-line *ngIf="isExpanded">{{ item.label }}</span>
                          </button>                  
                    </mat-expansion-panel>
        
                  </ng-container>
            </mat-accordion>             

          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
    </ng-template>

  </mat-nav-list>
</div>