//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
//

$gobii-maroon: (
  50 : #ede0e7,
  100 : #d1b3c2,
  200 : #b38099,
  300 : #944d70,
  400 : #7d2652,
  500 : #660033,
  600 : #5e002e,
  700 : #530027,
  800 : #490020,
  900 : #380014,
  A100 : #ff6e93,
  A200 : #ff3b6c,
  A400 : #ff0846,
  A700 : #ee003b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$gobii-green: (
  50 : #f3f5e7,
    100 : #e0e6c4,
    200 : #ccd59d,
    300 : #b7c475,
    400 : #a7b758,
    500 : #98aa3a,
    600 : #90a334,
    700 : #85992c,
    800 : #7b9025,
    900 : #6a7f18,
    A100 : #efffb8,
    A200 : #e3ff85,
    A400 : #d7ff52,
    A700 : #d1ff38,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$gobii-blue: (
  50 : #f7f2e0,
    100 : #ecdeb3,
    200 : #dfc880,
    300 : #d2b14d,
    400 : #c9a126,
    500 : #bf9000,
    600 : #b98800,
    700 : #b17d00,
    800 : #a97300,
    900 : #9b6100,
    A100 : #ffe6c6,
    A200 : #ffd093,
    A400 : #ffba60,
    A700 : #ffaf47,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

@mixin mat-snack-bar-theme($gobii-app-theme) {
  $is-dark-theme: map-get($gobii-app-theme, is-dark);
  $accent: map-get($gobii-app-theme, primary);

  .mat-snack-bar-container {
    background: if($is-dark-theme, map-get($mat-grey, 50), map-get($gobii-green, 500));
    color: if($is-dark-theme, $dark-primary-text, $light-primary-text);
  }

  .mat-simple-snackbar-action {
    color: if($is-dark-theme, inherit, rgba(map-get($gobii-blue, 500), 1));
  }
}
