@import '~@ng-select/ng-select/themes/material.theme.css';

// overrides
.ng-select .ng-select-container {
  min-height: 40px;
}

// required styling
.ng-select.ng-select-required .ng-placeholder:after {
  content: ' *';
}

.ng-select.ng-select-required.ng-select-opened .ng-placeholder:after {
  color: red;
}

// invalid styling
.ng-select.ng-invalid.ng-touched .ng-select-container:after {
  border-color: red;
}

.ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow {
  color: red;
}

.ng-select.ng-invalid.ng-touched .ng-placeholder {
  color: red;
}

.ng-select.ng-select-focused.ng-invalid.ng-touched .ng-placeholder {
  color: red;
}
