<div class="gobii-app-theme">
    <lib-top-navbar [title]="title" (logout)="onLogout()" [applications]="applications" [user]="user">
    </lib-top-navbar>
    <lib-side-navbar [links]="links"></lib-side-navbar>
    <router-outlet></router-outlet>
    <lib-side-filter-panel></lib-side-filter-panel>
</div>