
.app-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mat-menu-panel {
    min-width: 200px;
    max-width: 200px;
    overflow: auto;
  }
  .app_title {
    color: white;
    text-decoration: none;
  }
  
  .app_application_menu {
    display: flex;
  }
  
  .app-title {
    padding-right: 10px;
    padding-left: 10px;
  }
  
  .app-account {
    float: right;
    padding-right: 16px;
    justify-content: flex-end;
    font-weight: 400;
  }
  
  .app-account-icon {
    padding-left: 7px;
  }
  
  .app-filter__icon {
    &[active-filter] {
      color: yellow !important;
    }
  }
  